<div class="sign-up-or-in">
  <div class="registration">
    <h4>New User? Register for Stat Tracker:</h4>
    <form class="registration-form" action="/" method="post">
      <input type="text" name="username" value="" placeholder="Create a username"><br>
      <input type="password" name="password" value="" placeholder="Create a password"><br>
      <input type="text" name="location" value="" placeholder="Enter your location. Ex: Houston, TX"><br>
      <input type="submit" name="" value="Sign Up">
    </form>
  </div>

  <div class="sign-in">
    <h4>Already a user? Log In:</h4>
    <form class="sign-in-form" action="/signin" method="post">
      <input type="text" name="username" value="" placeholder="Username"><br>
      <input type="password" name="password" value="" placeholder="Password"><br>
      <input type="submit" name="" value="Log In">
    </form>
  </div>
</div>

<div class="site-info">
  <h1>What is Stat Tracker?</h1>
  <p>Stat tracker allows you to track personal statistics about you activities</p>
</div>
