<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stat Tracker</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>

  <body>
    <header>
      <a href="/">Stat Tracker</a>
    </header>
    <!-- renders the template specified by the server in this layout -->
    {{{yield}}}

    <footer>
      Designed by Alexhmonty
    </footer>
  </body>
</html>
